.add-block{
    margin: 20px;
    border: 3px solid #cccccc;
    border-radius: 6px;
    padding: 15px;
}
.add-title,
.add-text{
    width: 400px;
}
.add-btn{
    display: block;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 8px;
}