.selected{
  margin-right: 10px;
  background: #cccccc;
}
.nav-block{
  margin-top: 30px;
}
.nav{
  border: 2px solid #c47474;
  margin: 0 10px 0 0;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 6px;
}
.header{
  display: flex;
  justify-content: space-between;
}
